
/** Use some CSS3 to have a nice multicolumn select for campaigns. **/
div.ding-campaign-select {
  -moz-column-width: 13em;
  -webkit-column-width: 13em;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
}

